@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    font-family: 'Comfortaa', cursive;
}

.slider {
    position: absolute;
    margin: 0 250px;
    width: 80%;
    max-width: 800px;
    max-height: 424px;
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: rgb(192, 214, 207); */
    background-color: aquamarine;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 400%;
    height: 350px;
}

.slides input {
    display: none;
}

.slide {
    background-color: aquamarine;
    width: 25%;
    position: relative;
}

.manual-navigation {
    padding-top: 5px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid cornflowerblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: blue;
}

#radio1:checked~.frist {
    margin-left: 0%;
}

#radio2:checked~.frist {
    margin-left: -25%;
}

#radio3:checked~.frist {
    margin-left: -50%;
}

#radio4:checked~.frist {
    margin-left: -75%;
}

.textSlide {
    text-align: center;
}

h1 {
    padding: 10px;
}

p {
    text-align: center;
}

#CSlide{
    border-radius: 10px;
    border-color: aquamarine;
}

/* tela especifica para mobile */

@media (max-width: 500px) {
    h1 {
        font-size: 18px;
    }

    p {
        margin: 10px;
        font-size: 15px;
        text-align: center;
    }

    #CSlide {
        width: 60px;
    }

    .slides {
        overflow-y: auto;
        max-height: auto;
    }
}