*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 50px;
    flex-direction: column;
    /* perspective: 10em;
    perspective-origin: 50% 50%; */
}

/* #cena{
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(45deg) rotateY(0deg) rotateZ(10deg);
} */

.Matriz {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Casa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: black;
}

.Casa2 {
    background-color: rgb(33, 145, 22);
}

.Casa.sobreposto {
    background-color: rgb(33, 145, 22);
}

.Casa2.sobreposto {
    background-color: black;
}

.ativo {
    position: relative;
}

.ativo::before{
    --tam: -5px;
    content: "";
    position: absolute;
    top: var(--tam);
    bottom: var(--tam);
    left: var(--tam);
    right: var(--tam);
    z-index: -1;
    background-color: blueviolet;
}

.Casa2.ativo::before{
    background-color: tomato;
}

.Linha {
    display: flex;
    gap: 10px;
}

circle {
    display: inline-block;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    background-color: blue;
    pointer-events: none;
    /* transition: transform 1s ease; */
}

/* .ativo circle{
    transform:  translateX(10px) translateY(10px) translateZ(10px);
} */

.Pextra {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: black;
}

.Pextra2 {
    background-color: rgb(33, 145, 22);
}