@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');


/* BUTAO https://freefrontend.com/css-flat-buttons/ */

*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    flex-direction: column;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.Matriz {
    background-color: #50bbb1;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-style: ridge;
    border-color: #d5cbc7;
}

.Casa {
    border-top-color: #347872;
    border-right-color: #347872;
    border-radius: 10px;
    border-style: outset;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    background-color: black;
}

.Casa2 {
    background-color: rgb(27, 116, 19);
}

.Casa.sobreposto {
    background-color: rgb(27, 116, 19);
}

.Casa2.sobreposto {
    background-color: black;
}

.ativo {
    border-style: inset;
    border-color: rgb(255 174 0);
    position: relative;
}

.Casa2.ativo::before{
    background-color: tomato;
}

.Linha {
    display: flex;
    gap: 10px;
}

circle {
    display: inline-block;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(205, 207, 205);
    background-color: rgb(231, 231, 231);
    pointer-events: none;
}

.verdes {
    background-color: rgb(13, 179, 13);
}

.pretas {
    background-color: rgb(44, 39, 39);
}

.back {
    /* position: absolute; */
    width: 70px;
    /* margin-top: -40vw; */
    height: 40px;
}

@media (max-height: 950px) {
    @media (max-width: 1000px) {
        .back {
            /* position: absolute; */
            width: 70px;
            /* margin-top: -160vw; */
            height: 40px;
        }
    }
}

@media (min-height: 951px) {
    @media (min-width:900px) {
        .back {
            position: absolute;
            width: 70px;
            margin-top: -160vw;
            height: 40px;
        }
    }
}

#divhistorico{
    position: absolute;
    display: block;
    border-radius: 10%;
    border-style: outset;
    width: fit-content;
    height: fit-content;
    max-height: 100px;
    overflow-y: auto;
    padding: 50px;
    background-color: #99adac;
}

.historico{
    padding: 2px;
    border:#000 solid 1px;
}

.historico td {
    text-align: center;
    padding: 2px;
    border:#000 solid 1px;
}

.historico th {
    padding: 2px;
    border:#000 solid 1px;
}

#showH {
    width: 200px;
    height: 50px;
}